<div class="tweet-container">
  <%= form_for :tweet, url: tweets_path do |f| %>
    <p>
      <%= f.text_field :body, placeholder: "What's happening?" %>
    </p>
    <p>
      <%= f.submit("Tweet") %>
    </p>
  <% end %>
</div>