<div class="page-title-container">
  <h5 class="page-title">Home</h5>
</div>

<%= render 'tweets/new' %>

<% @tweets.each do |tweet| %>
  <%= link_to tweet_path(tweet) do %>
  <div>
    <p><%= tweet.body %></p>
  </div>
<% end %>
<% end %>