<div class="page-title-container">
  <h5 class="page-title">Home</h5>
</div>

<% @posts.each do |post| %>
  <%= link_to post_path(post) do %>
  <div>
    <h5><%= post.title %></h5>
    <p><%= post.body %></p>
  </div>
<% end %>
<% end %>